#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define MOUSE	1
#define NAV     2
#define RSYM    3
#define LSYM	4
#define FUNC    5
#define NUM   	6
#define EXT  	7

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_undo {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LC(Z)>;
        };
        combo_q {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp Q>;
        };
        combo_semicolon {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp SEMI>;
        };
    };
};

/ {

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        hs: homerow_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default";

            bindings = <
    &kp Q	&kp W        	&kp F  		&kp P		&kp B            					&kp J         	&kp L        	&kp U		&kp Y       	&kp SEMI
    &kp A	&lt FUNC R  	&lt MOUSE S 	&lt RSYM T 	&kp G                					&kp M    	&lt LSYM N 	&lt NAV E 	&lt NUM I	&kp O
    &kp Z      	&hm LCTRL X    	&hm LALT C    	&kp D 		&kp V                					&kp K     	&kp H        	&hm RALT COMMA	&hm RCTRL DOT	&kp FSLH
                                        	&kp LCTRL 	&kp DELETE	&hm RSHIFT SPACE	&kp BSPC	&lt EXT LGUI	&kp RCTRL
            >;
        };

        mouse_layer {
            label = "Mouse";

            bindings = <
    &bootloader &trans      &trans	&trans      &trans                                           &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &none  	&mkp LCLK   &mkp RCLK                                        &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &mkp MB4    &mkp MB5                                         &trans      &trans      &trans      &trans      &trans
                                        &trans      &trans          &trans           &trans          &trans      &trans
            >;
        };

        nav_layer {
            label = "Navigation";

            bindings = <
    &trans    &kp INSERT      &kp PG_UP       	&kp DELETE      &trans                                          &trans          &trans       &trans     &trans          &trans
    &kp LEFT  &kp UP          &kp DOWN        	&kp RIGHT       &trans                                          &trans          &kp LGUI     &none      &mt RCTRL RALT  &kp RSHIFT
    &trans    &kp HOME        &kp PG_DN		&kp END         &trans                                          &trans          &trans       &trans     &trans          &trans
                 		 	 	&trans          &trans          &trans           &trans         &trans 		&trans
            >;
        };

        rsym_layer {
            label = "Right Symbols";

            bindings = <
    &trans      &trans		&trans		&trans          &trans                                          &trans          &kp UNDER	&kp PIPE	&kp APOS      	&trans
    &kp CARET	&kp STAR	&kp AMPS        &none		&trans                                          &kp HASH	&kp TILDE	&kp SLASH     	&kp DQT		&kp DOLLAR
    &trans      &trans		&trans		&trans		&trans                                          &trans          &kp MINUS	&kp BSLH     	&kp GRAVE	&trans
                                                &trans          &trans          &trans       &trans             &trans          &trans
            >;
        };

        lsym_layer {
            label = "Left Symbols";

            bindings = <
    &trans      &kp COLON	&kp LT  	&kp GT          &kp SEMI 					&trans          &trans       	&trans        	&trans	        &trans
    &kp LBRC	&kp RBRC        &kp LPAR        &kp RPAR 	&kp AT                                          &trans		&none		&kp EQUAL       &kp PLUS	&kp PERCENT
    &trans      &kp EXCL	&kp LBKT 	&kp RBKT	&trans                                          &trans          &trans          &trans    	&trans          &trans
                                                &trans          &trans          &trans       &trans             &trans          &trans
            >;
        };

        func_layer {
            label = "Function";

            bindings = <
    &trans      &trans          &trans          &trans          &trans                                          &kp C_MUTE	&kp F7		&kp F8	        &kp F9 	&kp F10
    &trans	&none	        &trans	        &trans 		&trans                                          &kp C_VOL_UP 	&kp F4		&kp F5		&kp F6	&kp F11
    &trans      &trans          &trans          &trans          &trans                                          &kp C_VOL_DN	&kp F1          &kp F2       	&kp F3 	&kp F12
                                                &trans		&bootloader	&trans       &trans             &bootloader	&trans
            >;
        };

        num_layer {
            label = "Number";

            bindings = <
    &kp KP_DIVIDE 	&kp N7	&kp N8 	&kp N9 	&kp KP_PLUS                  			&trans          &trans          &trans          &trans	&trans
    &kp KP_MULTIPLY	&kp N4  &kp N5	&kp N6  &kp KP_MINUS               			&trans          &trans       	&trans  	&none 	&trans
    &kp N0		&kp N1	&kp N2	&kp N3	&kp KP_EQUAL       				&trans          &trans          &trans          &trans	&trans
                              		&trans	&trans          &trans       &trans             &trans          &trans
            >;
        };

        ext_layer {
            label = "Extension";

            bindings = <
    &sys_reset  &trans		&kp COLON       &kp ESC		&trans		                		&trans          &trans          &trans          &trans		&sys_reset
    &kp LBRC    &kp PERCENT 	&kp SLASH       &kp ENTER       &trans		                      		&bt BT_CLR 	&bt BT_SEL 0 	&bt BT_SEL 1	&bt BT_SEL 2 	&bt BT_SEL 3
    &bootloader	&trans		&trans		&kp EXCL	&trans                                    	&trans          &trans          &trans          &trans  	&bootloader
                                                &trans          &trans		 &kp TAB       &trans     	&none    	&trans
            >;
        };
    };
};
